<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link
		rel="shortcut icon"
		href="../static/assets/logos/favicon.ico"
		type="image/x-icon"
	/>
	<link rel="stylesheet" href="../static/css/styles.css" />
	{{block "styles" .}} {{end}}
	{{if .Title}}
	<title>{{ .Title }}</title>
	{{else}}
	<title>Document</title>
	{{end}}
</head>
	<body>
		<header>
			{{ template "_header.html" }}
		</header>
		<main class="container">
			{{ template "content" }}
		</main>
		{{ template "_footer.html" }}
		{{ block "scripts" .}}{{end}}
	</body>
</html>
